<ion-view title="Confirmation" id="page8" class=" ">
    <ion-content padding="true" class="has-header">
        <form id="confirmation-form8" class="list ">
            <ion-radio id="confirmation-radio1" class=" ">Your phone</ion-radio>
            <label class="item item-select " id="confirmation-select1">
                <span class="input-label">Choose Country</span>
                <select>
                    <option>India</option>
                    <option>China</option>
                    <option>Sri Lanka</option>
                    <option></option>
                </select>
            </label>
            <label class="item item-input item-stacked-label " id="confirmation-input6">
                <span class="input-label">Phone number</span>
                <input type="tel" placeholder="">
            </label>
        </form>
        <p id="confirmation-markdown1" style="color:#000000;" class=" ">Please confirm country code and enter your phone number</p>
        <div class="spacer" style="height: 100px;"></div>
        <a ui-sref="welcome" id="confirmation-button13" class=" button button-positive  button-block ">Next</a>
    </ion-content>
</ion-view>